<div class="left-panel" data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500"
    data-aos-duration="3000" data-aos-easing="ease-in-sine">
    <ul>
        <li>
            <i class="fas fa-code" alt="icon code"></i>
            <p>Welcome back!</p>
        </li>
    </ul>
</div>