<nav>
        <div class="container">
            <div class="nav-left">
                <a href="/"><img class="logo" src="/assets/images/logo.png" alt="Logo Forge"></a>
                {{!-- <input id="searchButton" type="text" name="search" placeholder="Search Forge...">
                <button id="search" type="submit"
                    style="border:none;background:transparent;margin:5px;font-size:18px;"><i
                        class="fa fa-search"></i></button> --}}
            </div>
            <div class="nav-middle">
                      <a href="/"  class=" icon active" >
                    <i class="fa fa-home"></i>
                </a>
                    <a href="/people" class="" >
                    <i class="fa fa-users"></i>
                </a>
            </div>

            <div class="nav-right">
                <a href="/admin"><i class="fas fa-user a" style="font-size:24px;" alt="icon profile"></i></a>
                {{#if loggedIn}}
                <a href="/profile" id="profile-link" class="logout" style="width:100%">Edit Profile</a>
                <a href="/splash" id="logout-link" class="logout">Logout</a>
                {{else}}
                <a href="/login" class="logout">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>