<div class="right-panel" data-aos="fade-left"
     data-aos-anchor="#example-anchor"
     data-aos-offset="500"
     data-aos-duration="3000">
    <div class="pages-section">
        <h4>Code reviews</h4>
        <a class="page" href="/review">
            <div>
                <i class="fas fa-bug" style="color:brown;font-size:18px" alt="icon code reviews list page"></i>
                {{!-- <img src="./assets/images/logo.png" alt="icon code reviews page"> --}}
            </div>
            <p class="name">Review Page</p>
        </a>
    </div>

    {{!-- FOR FUTURE DEVELOPMENT --}}

    {{!-- <div class="friends-section">
        {{#each users as |user|}}
        <h4>Users</h4>
        <a class='friend' href="/user/{{id}}">
            <div class="dp">
                <i class="fas fa-user" style="font-size:24px;"></i>
            </div>
            <p class="name">{{name}}</p>
        </a>
        {{else}}
        <h6 class=""></h6>
        {{/each}}
    </div> --}}
</div>