{{>nav-active-panel}}
<main>

    <!-- SCROLL -->
    {{!-- <div class="scroll" data-rate=".3" data-direction="vertical"> --}}
        <div class="wrapper">
            <div class="container">
                {{>left-panel}}

                <div class="middle-panel">
                    <div class="post create">
                        <div class="post-full">
                            <div class="wrapper-post">
                                <section class="post-popup">
                                    <form id="new-post-form">
                                        <input type="text" class="text-label" name="post-title"
                                            placeholder="Insert title here" spellcheck="true" required />
                                        <input type="url" class="text-label" name="post-url" id="url"
                                            placeholder="https://example.com" pattern="https://.*">
                                        <input class="text-input" name="post-body" placeholder="Ask a question..."
                                            required />
                                        <div class="theme-emoji">
                                            <img src="/assets/icons/theme.svg" alt="icon theme">
                                            <img src="/assets/icons/smile.svg" alt="icon smile">
                                        </div>
                                        <button type="submit">Post</button>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                {{>right-panel}}
            </div>
        </div>
    </div>

</main>
<script src="/javascript/add-post.js"></script>