{{!-- FOR FUTURE DEVELOPMENT--}}

{{!-- <div class="col-12 col-md-4">
    <div class="card">
        <h3 class="card-header text-uppercase">Search By User</h3>
        <form id="user-form" class="card-body">
            <label class="form-label" for="username">Username</label>
            <input name="username" id="username" type="text" autofocus="true" class="form-input" />
            <button type="submit" class="btn">SEARCH BY USER</button>
        </form>
    </div>

    <div class="card">
        <h3 class="card-header text-uppercase">Search Requests</h3>
        <div id="language-buttons" class="card-body">
            <button data-language="javascript" class="btn">SEARCH ALL OPEN REQUESTS</button>
            <!-- <button data-language="html" class="btn">HTML</button>
          <button data-language="css" class="btn">CSS</button> -->
        </div>
    </div>
</div> --}}
{{!-- col-md-8 --}}
<div class="col-12 ">
    <h2 class="subtitle">Review some code for other developers<span id="repo-search-term"></span></h2>

    {{#each posts as |post|}}
    {{#if post_url}}
    <div id="repos-container" class="list-group">
        {{> post-info-review post }}
        {{/if}}
        {{/each}}
    </div>

</div>
<script src="/javascript/homepage.js"></script>