{{>nav-active-panel}}
<main>

  <!-- SCROLL -->
  {{!-- <div class="scroll" data-rate=".3" data-direction="vertical"> --}}
    <div class="wrapper">
      <div class="container">
        <div class="container">

          {{>left-panel}}

          <div class="middle-panel">

            {{> post-info post}}

            <div class="post">

              {{#if loggedIn}}
              <form id="comment-link">

                <textarea class="textarea" name="comment-body" placeholder="Insert comment here..."></textarea>
                <button class="" type="submit">add comment</button>
                <br />
                <button type="button" class="upreact-btn" id="uplikes-btn" style="margin-top: 5px;">Like Up</button>
              </form>
              {{/if}}
              <div {{> comments post.comments}}</div>


            </div>
          </div>

          {{>right-panel}}

        </div>
      </div>
    </div>

</main>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/uplikes.js"></script>
{{/if}}