<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <p><img src="./assets/images/logo.png" alt="image of the Forge tri quote bubble logo" /></p>
            <br>
            <h1 class="float-md-end">FORGE</h1>
        </div>
    </header>

    <main class="px-3">
        <h1>Iron sharpens iron..</h1>
        <p class="lead">Technology bootcamps are no place for lone-wolves. Share experiences with other bootcamp
            students around the world, even request and provide feedback on code!</p>
        <p class="lead">
            <a href="/login" class="btn btn-lg btn-primary fw-bold border-white">Join the fun!</a>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>&copy; <script>document.write(new Date().getFullYear());</script> Forge</p>
        <p>Come see how Forge is made ⇒ <a href="https://github.com/ratalla816/Forge" target="_blank"> <img src="./assets/images/githublogo.png" alt="image of the GitHub mascot, OctoCat" /></p>
    </footer>
</div>