{{>nav-panel}}
<main>

    <!-- SCROLL -->
    {{!-- <div class="scroll" data-rate=".3" data-direction="vertical"> --}}
        <div class="wrapper">
            <div class="container">
                <div class="container">

                    {{>left-panel}}

                    <div class="middle-panel">
                        {{>users-panel}}
                    </div>

                    {{>right-panel}}

                </div>

            </div>
        </div>
    </div>

</main>
